@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Patrick+Hand+SC);

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.clearfix {
  display: block;
  clear: both;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 10px;
}
