@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Patrick+Hand+SC);

body {
  margin: 0px;
  padding: 0px 0px 30px 0px;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $color-blue;
}

a {
  color: $color-blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

hr {
  background: none;
  border: 0px;
  border-bottom: 1px solid $color-grey;
}

.clearfix {
  display: block;
  clear: both;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px;
}

.post-list-item {
  .post-title a {
    color: $color-green;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .post-time {
    float: right;
    color: lighten($text-color, 20%);
    padding-top: 5px;
  }
  .read-more-section {
    text-align: right;
    a {
      text-decoration: none;
      display: block;
      float: right;
      padding: 6px 10px;
      border: 1px solid $color-grey;
      &:hover {
        color: $color-green;
        border: 1px solid darken($color-grey, 10%);
      }
    }
  }
}

.pager {
  list-style: none;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  text-align: right;
  li {
    display: inline-block;
  }
}

.post-meta {
  color: lighten($text-color, 20%);
  margin-top: -12px;
  font-size: 13px;
}

.post-navigation {
  font-size: 14px;
  display: block;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid lighten($color-grey, 5%);
}

.post-navigation a {
  display: block;
  width: 100%;
}

.post-navigation .next {
  text-align: right;
}

.highlight {
  border: 1px solid lighten($color-grey, 5%);
  padding-left: 15px;
  position: relative;
  margin-left: 30px;
  &:before {
    position: absolute;
    content: "";
    display: block;
    background: darken($color-grey, 8%);
    width: 30px;
    top: 0px;
    left: -30px;
    height: 100%;
  }
  &:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f121";
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    color: #fff;
    left: -30px;
    top: 50%;
    width: 30px;
    text-align: center;
  }
}
