#header {
  background: $color-green;
  padding: 20px 0px;
  .page-title {
    color: $color-blue;
    text-decoration: none;
    float: left;
    display: block;
    &:hover {
      color: lighten($color-blue, 10%);
    }
  }
  .page-title--name {
    display: block;
    float: left;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 43px;
    line-height: 43px;
    margin-top: -4px;
    em {
      display: block;
      font-style: normal;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
  .page-title--icon {
    display: block;
    float: left;
    margin-right: 10px;
  }

  .header-right {
    float: right;
  }

  .social-links {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        float: right;
        margin: 0px;
        padding: 0px 0px 0px 15px;
        a {
          color: lighten($color-green, 30%);
          display: block;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .menu-links {
    ul {
      margin: 0px;
      padding: 5px 0px 0px 0px;
      list-style: none;
      li {
        float: right;
        margin: 0px;
        padding: 0px;
        margin-left: 10px;
        a {
          color: #fff;
          font-size: 13px;
          line-height: 13px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
